<div class="d-flex flex-column justify-content-between h-100 p-4">

  
  <div class="text-start">
    <div *ngIf="user$ | async as user">
      <h5 class="mb-0 fw-bold">{{ user.displayName || 'Usuario' }}</h5>
      <small class="text-muted">{{ user.email }}</small>
    </div>

    <hr class="my-4">

    <button class="btn border-0 text-dark w-100 mb-3 fw-bold text-start" (click)="openProfile()">Mi perfil</button>
    <button class="btn border-0 text-dark w-100 fw-bold text-start" (click)="openChangePassword()">Modificar datos</button>
  </div>

 
  <div class="mt-auto text-start">
    <button class="btn btn-danger px-5" (click)="logout()">Cerrar sesión</button>
  </div>

</div>

