<div class="category-slider-wrapper">
  <div class="container category-slider-container">
    
    <div class="category-slider-desktop d-none d-lg-flex">
      <div *ngFor="let item of icons" class="category-icon">
        <a [routerLink]="['/categories', item.category]">
          <i [class]="item.icon"></i>
        </a>
      </div>
    </div>

    <div
      class="category-slider d-flex d-lg-none"
      #slider
      (mousedown)="onMouseDown($event)"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
    >
      <div *ngFor="let item of icons" class="category-icon me-3">
        <a [routerLink]="['/categories', item.category]">
          <i [class]="item.icon"></i>
        </a>
      </div>
    </div>

  </div>
</div>
