@import 'src/styles.scss';

*{
    background-color: $background;
}


#login{
    background-color: $detalles;
}

input{
    background-color: aliceblue;
}


nav{
    background-color: $background;
    color: $text;
    border: 0;
}
nav a{
    color: $text;
}

.bg-button{
    background-color: $detalles;
    color: $background;
    border: 0;
}
