<header>
  <div class="container">
    <div class="row justify-content-between align-items-center py-3 text-center">

      <!-- Logo (oculto en móvil) -->
      <div class="col-auto d-none d-md-block">
        <img src="../../assets/icono.png" alt="Logo_HustleHub" width="90">
      </div>

      <!-- Navegación -->
      <div class="col">
        <nav class="navbar justify-content-center">
          <div class="container-fluid">
            <div class="navbar-nav justify-content-center w-100">
              <ul class="navbar-nav flex-row flex-wrap justify-content-center gap-3">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Hot Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown hover-dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink">
                    Categories
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li *ngFor="let category of categories">
                      <a class="dropdown-item" href="#">{{ category | titlecase }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- Login / Icono de usuario -->
      <div class="col-auto d-flex align-items-center justify-content-end">
        <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
          <i class="fas fa-user fs-4" (click)="openUserPanel()" id="login"></i>
        </ng-container>

        <ng-template #loginButton>
          <button type="button" class="btn custom-login-btn" (click)="openmodal()">Log In</button>
        </ng-template>
      </div>

    </div>
  </div>
</header>
