@import 'src/styles.scss';



#login{
    background-color: $detalles;
}

input{
    background-color: aliceblue;
}


nav{
   
    color: $text;
    border: 0;
}
nav a{
    color: $text;
}

.bg-button{
    background-color: $detalles;
    color: $background;
    border: 0;
}
