<header class="py-1">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center">

      <div class="d-none d-md-block">
        <a href="" routerLink="/">
          <img src="../../assets/icono.png" alt="Logo_HustleHub" width="50">
        </a>
      </div>

     
      <nav class="flex-grow-1">
        <ul class="navbar-nav d-flex flex-row justify-content-center flex-wrap m-0 p-0 gap-2">
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/hot">Hot Events</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item dropdown hover-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink">Categories</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let category of categories">
                <a class="dropdown-item" [routerLink]="['/categories', category]">
                  {{ category | titlecase }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="login-container">
        <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
          <i class="fas fa-user fs-5" (click)="openUserPanel()" id="login"></i>
        </ng-container>

        <ng-template #loginButton>
          <button id="loginButton" type="button" class="btn custom-login-btn" (click)="openmodal()">Acceder</button>
        </ng-template>
      </div>

    </div>
  </div>
</header>
