<footer class="footer py-2">
    <div class="container">
      <div class="row text-center text-md-start align-items-center">
        
        <div class="col-md-4 mb-3 mb-md-0">
          <h5 class="mb-0">HustleHub</h5>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center gap-4">
          <a href="https://github.com/Angelmrt/HustleHub" target="_blank" aria-label="GitHub">
            <i class="fab fa-github fa-lg"></i>
          </a>
          <a href="https://www.linkedin.com/in/angel-martin-rubio-186212322/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="../../../../assets/Tfc_AngelMartinRubio.pdf" download aria-label="Descargar archivo">
            <i class="fas fa-file-download fa-lg"></i>
          </a>
        </div>
  
        <div class="col-md-4 text-md-end">
          <small>&copy; {{ currentYear }} HustleHub. Todos los derechos reservados.</small>
        </div>
  
      </div>
    </div>
  </footer>
  