$color-rose-red: #CB214D;     
$color-amber: #FFC229;       
$color-champagne: #FCE4C0;   
$color-concrete-grey: #838D93; 
$color-rich-black: #101F24;   



$primary-color: $color-amber;
$accent-color: $color-rose-red;
$background-color: $color-rich-black;
$text-color: $color-champagne;
$text-secondary-color: $color-concrete-grey;