<div class="p-4">
  <h4 class="mb-3">Modificar contraseña</h4>

  <!-- Si es cuenta de Google, mostramos solo el mensaje -->
  <div *ngIf="isGoogleUser; else passwordForm" class="text-center">
    <p class="text-muted">
      Has iniciado sesión con Google. Para cambiar tu contraseña, debes hacerlo desde tu cuenta de Google.
    </p>
    <a href="https://myaccount.google.com/security" target="_blank" rel="noopener noreferrer">
      Ir a mi cuenta de Google
    </a>
    <button class="btn btn-danger w-50 mt-4 " (click)="close()">Cerrar</button>
  </div>

  
  <ng-template #passwordForm>
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva contraseña</label>
      <input type="password" [(ngModel)]="newPassword" class="form-control" id="newPassword">
    </div>

    <div *ngIf="error" class="text-danger small mb-2">{{ error }}</div>
    <div *ngIf="success" class="text-success small mb-2">{{ success }}</div>

    <button class="btn btn-success w-100 mb-2" (click)="changePassword()">Guardar</button>
    <button class="btn btn-danger w-100" (click)="close()">Cancelar</button>
  </ng-template>
</div>
